$yellow: #F3C652;
$blu: #B4E6ED;
$green: #84C08A;
$dblue: #5DAAB5;
$dgreen: #78B67F;
$white: #F7F7F7;

$greenText: #09460E;

@mixin shadow{
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
