$yellow: #F3C652;
$blu: #EBDFD9;
$green: #115A6E;
$dblue: #5DAAB5;
$dgreen: #003745;
$white: #F7F7F7;

$greenText: #09460E;

@mixin shadow{
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
