
#map {
  top: 0;
  height: 100vh;
  width: 100vw;
  position: sticky;
}

#mapInset {
  bottom: 50px;
  right: 30px;
  height: 180px;
  width: 250px;
  max-width: 100%;
  position: fixed;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

#header {
  // margin: auto;
  // width: 100%;
  position: relative;
  z-index: 5;
}

.heading_map{
  position: sticky;
  top:30px;
  width: calc(100% - 40px);
  left: 20px;
  z-index: 9;
  @include shadow;
  h2{
    padding: 15px 20px;
    background: $dgreen;
    border-radius: 10px;
    @include serif_m;
    font-size: 23px;
    text-align: center;
    color: $white;
  }
  @include media('>=phone') {
    top:15px;
    h2{
      line-height: 1.4;
      font-size: 18px;
      padding: 10px;
    }
  }
}

#header h1,
#header h2,
#header p {
  margin: 0;
  text-align: center;
}

#features {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.hidden {
  visibility: hidden;
}

.centered {
  width: 50vw;
  margin: 0 auto;
}

.lefty {
  width: 33vw;
  margin-left: 5vw;
}

.righty {
  width: 33vw;
  margin-left: 62vw;
}

.fully {
  width: 100%;
  margin: auto;
}

.light {
  color: $dgreen ;
  background-color: $white;
  border-radius: 10px;
  @include shadow;
  h3{
    margin-bottom: 10px;
    text-transform: uppercase;
    @include mono_m;
    letter-spacing: normal;
  }
  strong{
    @include serif_b;
  }
}

.dark {
  color: #fafafa;
  background-color: #444;
}

.step {
  padding-bottom: 50vh;
  opacity: 0.25;
  pointer-events: none;
}
#seventh-chapter{
  pointer-events: all;
}

.step.active {
  opacity: 0.9;
}

.step div {
  padding: 50px 30px;
  line-height: 1.5;
  font-size: 16px;
  @include media('>=phone') {
    padding: 20px 20px;
    font-size: 14px;
  }
}

.step img {
  width: 100%;
}
@media (max-width: 750px) {
  .centered,
  .fully,
  .lefty,
  .righty {
    width: 90vw;
    margin: 0 auto;
  }
}
/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
  touch-action: unset;
}


.popup{
  color:$dgreen;
}
.mapboxgl-popup {
  z-index: 999999;
}
.mapboxgl-popup-content{
  background: $white;
  @include mono_r;
  @include shadow;
  padding: 10px 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  h4{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.mapboxgl-popup-tip, .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
  border-color: $white;
  display: none;
}

.mapboxgl-popup-close-button{
  position: absolute;
  right: -6px;
  background: $white;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid $dgreen;
  top: -6px;
  cursor: pointer;
  &:hover{
    background: $white;
  }
}
