.simulatore{
  margin-top: 100px;
}
#app{
  padding: 0 20px;
  @include media('>=phone') {
      display: none;
  }
}



.note_metodologiche{
  padding: 30px;
  margin-top: 80px;
  @include mono_r;
  font-size: 14px;
  line-height: 1.3;
  width:60%;
  h3{
    margin-bottom: 15px;
    @include mono_m;
  }

  @include media('>=phone') {
    width:100%;
  }
}

footer{
  padding: 30px;
  .footer_container{
    padding: 20px;
    background: $dgreen;
    color:$white;
    border-radius: 10px;
  }
}
